@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}



header{
    background-color: grey;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

header nav{
    width: 80%;
    margin: auto;
}

nav{
    height: 100px;
}

#discord-logo-top{
    width: 10%;
    padding-top: 10px;
}

#menu{
    padding-top: 10px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    color: white;
}

#login{
    width: 10%;
}

.button{
    min-width: 124px;
    height: 34px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 0px;
    padding: 8px 4px;
    margin-top: 10px;
   
}

.flexButton{
    display: flex;
    justify-content: center;
}

#blackButton{
    min-width: 124px;
    height: 34px;
    border-radius: 15px;
    border: 0px;
    padding: 8px 4px;
    margin-top: 10px;
    background-color: black;
    color: white;
    margin-left: 10px;
}



.flexHeader{
    display: flex;
    justify-content: space-between;
}

#header-title{
    padding-top: 50px;
    width: 60%;
    margin: auto;
    height: 400px;
}

#titolo1{
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-bottom: 25px;
}

#sottotitolo1{
    text-align: center;
    color: white;
    font-size: large;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 15px;
}

#ultimoTitolo{
    margin-top: 25px;
}

.flexSection{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.immagine{
    width: 40%; 
    margin: auto;

}

#scritte h2{
    margin-bottom: 10px;
}

#scritte{
    width: 40%; 
    margin: auto;
    font-size: large;

}

.immagine2{
    width: 40%; 
    margin: auto;
}

#scritte2{
    width: 40%; 
    margin: auto;
    font-size: large;
}

.sec1-3{
    background-color: white;
}


.flexSectionBottom{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

footer{
    background-color: #23272A;
}

.flexFooter{
    width: 80%;
    margin: auto;
    display: flex;
    border-bottom: 2px solid black;
    padding-top: 15px;
}

#footerSection1{
    width: 30%;
    /* height: 150px; */
    /* background-color: yellow; */
}

.footerSection2{
    width: 70%;
    /* height: 150px; */
    /* background-color: purple; */
    margin-left: 25px;
    margin-bottom: 10px;
}

.lista1-3{
    width: 25%;
    margin-top: 15px;
    /* background-color: red; */
}

.lista2-4{
    width: 25%;
    margin-top: 15px;
    /* background-color: orangered; */
}

.flexFooter2{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
}

.flexFooterBottom{
    padding-top: 10px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

li{
    list-style: none;
    color: white;
    margin-top: 4px;
    margin-bottom: 4px;
}

.footerBottom{
/*     background-color: blue; */
    width: 10%;
    height: 100px;
}

.buttonFooter{
    min-width: 124px;
    min-height: 34px;
    background-color: rgb(121, 131, 245);
    color: white;
    border-radius: 15px;
    border: 0px;
    padding: 8px 4px;
    margin-top: 10px;
}

.listTitle{
    color: #5865F2;
}

#bigFooterTitle{
    color: #5865F2;
    font-size: 2.5rem;
}

#bandiera{
    width: 20px;
    margin-top: 15px;
}

.fa-brands{
    color: white;
    width: 20px;
}

#scritte3{
    text-align: center;
}

h4{
    margin-bottom: 25px;
}

.ultimoButtonMain{
    margin-bottom: 50px;
}
